{% extends "base.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="container mx-auto flex flex-wrap py-6">
    
    <aside class="w-full md:w-1/2 flex flex-col items-center px-3">
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                
                    <img class="w-36 h-36 rounded" src="{% static 'img/avatar.jpg' %}">
              
                <h5 class="mb-1 mt-2 text-xl font-medium text-gray-900 dark:text-white">{{ user.full_name }}</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">{{ user.ocupation}}</span>
                <h5 class="mb-1 text-sm font-medium text-gray-400">{{ user.email }}</h5>
                <div class="flex mt-4 space-x-3 md:mt-6">
                    <a href="{% url 'users_app:user-logout' %}" 
                    class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-pink-600 rounded-lg hover:bg-pink-700 ">
                Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </aside>
    <section class="w-full md:w-2/4 flex flex-col px-3">

        {% for entrada in entradas_user %}
        <article class="flex flex-col md:w-full shadow my-4">
            <!-- Article Image -->
            <a class="flex flex-col w-full items-center bg-white md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full h-96 md:h-auto md:w-28 lg:w-48 ml-6" src="{{ entrada.entry.image.url }}" alt="">
                <div class="w-full ml-10 p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ entrada.entry.title }}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ entrada.entry.resume | truncatechars:100 }}</p>
                </div>
            </a>
            <hr>
            <p class="text-sm mt-2 ml-6">
                 <p class="font-sans text-gray-400 ml-4">Creado por: {{entrada.entry.user}}</p> 
            </p>
            <p class="text-sm text-gray-500 ml-4">Publicado {{entrada.entry.publicado}}</p>

            <form class="flex mt-4 space-x-3 md:mt-6" method="POST" action="{% url 'favoritos_app:delete-favoritos' entrada.id %}">{% csrf_token %}
                <a href="{% url 'entrada_app:entry-detail' entrada.entry.id %}" 
                class="inline-flex items-center ml-4 mb-2 px-4 py-2 text-sm font-medium text-center text-white bg-yellow-400 rounded-lg hover:bg-yellow-500 ">
                ver</a>
                <button type="submit" 
                class="inline-flex items-center mb-2 px-4 py-2 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 ">
                Eliminar</button>
            </form>
        
        </article>
        
        {% endfor %}
    </section>
    
        
</div>

<!-- FIN tercer bloque -->
{% include "includes/footer.html" %}

{% endblock content %}